# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

# --- Virtual environment ---
venv/
.env/
.venv/

# --- IDE / Editor ---
.vscode/
.idea/

# --- OS Files ---
.DS_Store
Thumbs.db

# --- Project Data (local storage) ---
budgets.json
accounts.json
categories.json
settings.json

# --- Logs / Temp ---
*.log
*.tmp

# user data files
accounts.json
budgets.json
categories.json
settings.json
import_profiles.json

# backups created by import wizard
sample_transactions.backup-*.csv
sample_transactions.csv

#folders
App Screenshots/
Monarch/


